.btn span, .tag{
    text-overflow: ellipsis;
    overflow: hidden;
}

.tag{
    max-width: 100%;
    margin: 0;
}

.card{
    position: relative;
}
.card:hover {
   background-color: rgb(224, 245, 249);
}

.bottomPlace{
    height: 25px;
}

.message{
    --size: 10px;
    color: rgb(181, 178, 178);
    position: absolute; 
    bottom: 10px;
    right: 10px;
    font-size: var(--size);
    line-height: var(--size);
}
