.btn span, .tag{
    text-overflow: ellipsis;
    overflow: hidden;
}

.tag{
    max-width: 100%;
    margin: 0;
}

.card{
    position: relative;
}
.card:hover {
   background-color: rgb(224, 245, 249);
}


.message, .bottomPlace{
    --size: 10px;
}

.bottomPlace{
    height: var(--size);
}

.message{
    --padding: 10px;
    color: rgb(181, 178, 178);
    position: absolute; 
    bottom: var(--padding);
    right: var(--padding);
    font-size: var(--size);
    line-height: var(--size);
    max-width: calc(100% - 2 * var(--padding));
    overflow: hidden;
    text-overflow: ellipsis;
}
